/*Resets*/
a{
	color: inherit;
}
a:HOVER{
	text-decoration: none !important;
	color: inherit;
}
.eng{
	font-family: 'Raleway', sans-serif !important;
}
/*Colors*/
.back-gray{
	background-color: #FAFAFA;
}

.gray{
  color: #333;
}
.red{
  color: #BE0709;
}
.brown{
  color: #9c581b;
}
.gold{
  color: #FB8C00;
}
.orange{
  color: #ff5722;
}
.maroon{
  color: #800000;
}