.mainpage{
	margin-top: 100px;
	font-family: 'Lato', sans-serif;
}
.border-2{
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.intro{
	margin-bottom: 80px;
}
.intro h1{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	color: rgba(255, 153, 86, 0.5);
}
.intro p{
	font-size: 1.25em;
	line-height: 1.75em;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.75);
}
.intro .figure{
	margin: 40px 0;
	z-index: 1;
	position: relative;
}
.intro .figure .figure-caption{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #ff9956;
	color: #800000;
	padding: 1em;
	opacity: 0.9;
}
/*.intro .figure .figure-caption p{
	width: 50;
	line-height: 50px;
}*/



/*Card slider*/
.card-slider{
	padding: 40px 80px 60px 80px;
}
.card-slider .title{
	color: #333;
	font-size: 24px;
	text-align: center;
	/*font-family: 'Martel', sans-serif;*/
	font-family: 'Laila', sans-serif;
	font-weight: 500;
}
.card-slider .card{
	padding: 0;
	border: none;
	box-shadow: 0 1px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.card-slider .card img{
    border-radius: 5px;
}
.card-slider .card .card-title{
	margin-bottom: 0;
	text-align: center;
	font-family: 'Laila', sans-serif;
	font-size: 18px;
	font-weight: 600;
}
.card-slider .description{
	text-align: center;
}
.card-slider .description p span.more{
	text-transform: uppercase;
	margin: 0 20px;
	font-size: 0.8em;
	border-bottom: 1px solid #CCC;
}
